:root {
    --background-color: #000;
    --accent-color: #e5f5ff1c;
    --color: #fff;
}

html {
    margin: 0;
}

body {
    margin: 0;
    background: var(--background-gradient);
    background-color: var(--background-color);
    color: var(--color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-attachment: fixed;
}

h1 {
    margin: 1px;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}

input {
    background-color: var(--accent-color);
    border-radius: 1rem;
    margin-bottom: 10px;
    border: none;
    outline: none;
    color: var(--color);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    background-color: var(--accent-color);
    border-radius: 1rem;
    margin-bottom: 10px;
    border: none;
    outline: none;
    color: var(--color);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.main {
    max-width: 1000px;
    margin: 1px auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#pokemonImage {
    image-rendering: pixelated;
}

#pokemonType {
    background-color: #ffffff20;
    border-radius: 1rem;
    margin-bottom: 10px;
    padding: 2px;
}

.basic {
    text-align: center;
}

.content {
    margin: 10px;
}

.read {
    background-color: var(--accent-color);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
}

.move-grid {
    display: grid;
    
}

.grid-item {
    word-wrap: anywhere;
}

.move-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;    
    gap: 10px;
    padding: 5px;
    border-bottom: 1px solid #ffffff20;
}

.header-row {
    font-weight: bold;
}

#loadMoreBtn {
    display: block;
    width: 100%;
}

.list-item {
    padding: 10px;
}

#pokemonList {
    padding-top: 50px;
}

.list-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.search {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}